<div class="beerdisplay">
  <h2 class="beername">{{beer.name}}</h2>
  <div class="beerimg">
    <img ng-src="{{beer.image_url}}" class="beerimgimg">
  </div>
  <div class="beercontent">
    <h3 class="beertypeabv">{{beer.type}} – {{beer.abv}}%</h3>
    <p class="beerdesc">This beer has a pale golden colour and a malty sweetness which is well balanced by the American Chinook, Amarillo and Centennial hops.</p>
  </div>
</div>

<div id="failedread">
  <h1>Beer not found, or barcode read incorrectly.</h>
</div>
