<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Engine Yard Beers</h1>
</div>

<div class="beerdisplay bdhome" ng-repeat="beer in beers | filter:query | orderBy:order" ng-show="beers[0]">
  <a href="#/beer/{{beer.barcode}}"><h2 class="beername">{{beer.name}}</h2></a>
  <div class="beerimg">
    <img ng-src="{{beer.image_url}}" class="beerimgimg">
  </div>
  <div class="beercontent">
    <h3 class="beertypeabv">{{beer.type}} – {{beer.abv}}%</h3>
    <h4>{{beer.fridge_count}} in fridge</h4>
    <p class="beerdesc">{{beer.description}}</p>
  </div>
</div>