<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Number of beers</h1>
  <p class="lead">Please enter the number of beers you want to add to stock</p>
  <form ng-submit="stock()">
    <input type="text" ng-model="number" placeholder="Number beers" id="scanbar" class="input-xlarge"><br>
  </form>
</div>

<div class="beerdisplay" ng-show="beer.name">
  <h2 class="beername">{{beer.name}}</h2>
  <div class="beerimg">
    <img ng-src="{{beer.image_url}}" class="beerimgimg">
  </div>
  <div class="beercontent">
    <h3 class="beertypeabv">{{beer.type}} – {{beer.abv}}% – {{beer.fridge_count}} left</h3>
    <p class="beerdesc">{{beer.description}}</p>
  </div>
</div>
