<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Scan your beer</h1>
  <p class="lead">Please scan your beer so we can keep track of numbers</p>
  <form ng-submit="take()">
    <input type="text" ng-model="beercode" placeholder="Scan your beer" id="scanbar" class="input-xlarge"><br>
  </form>
</div>

<div class="beerdisplay" ng-show="beer.name">
  <h2 class="beername">{{beer.name}}</h2>
  <div class="beerimg">
    <img ng-src="{{beer.image_url}}" class="beerimgimg">
  </div>
  <div class="beercontent">
    <h3 class="beertypeabv">{{beer.type}} – {{beer.abv}}% – {{beer.fridge_count}} left</h3>
    <p class="beerdesc">{{beer.description}}</p>
  </div>
</div>

<script>
document.getElementById('scanbar').focus();
</script>